.cart {
  position: absolute;
  top: 0;
  right: 0;
  width: 350px;
  background-color: #fff;
  cursor: default;
  border: 2px solid#000;
  max-height: 100vh;
  z-index: 11;
  overflow-y: auto;
}

.cart:hover {
  z-index: 99;
}

.totalItems {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 5px;
}

.totalItems span {
  font-weight: bold;
}

.itemCont {
  border-bottom: 1px solid #d3d3d3;
}

.item {
  display: flex;
  padding: 1rem;
}

.cartImg {
  /* margin-right: 10px; */
}

.cartProd {
  margin: 0 40px;
  flex-grow: 1;
}

.hdr {
  text-align: center;
  margin: 0;
  display: inline-block;
}

.details {
  margin-bottom: 0.5rem;
}

.shortName {
  margin-bottom: 10px;
  font-size: 0.9rem;
}

.price {
  font-weight: bold;
  margin-left: auto;
}

.savings {
  background-color: green;
  color: #fff;
  text-align: center;
  padding: 5px;
  font-weight: bold;
  position: relative;
  margin-bottom: 5px;
}

.triangle {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid green;
  left: 50%;
  margin-left: -15px;
  position: absolute;
  top: -9px;
}

.discountCode {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.inputCode {
  font-size: 20px;
  border: 1px solid #000;
  padding: 2px 5px;
  margin: 0;
  max-width: 100px;
  height: 25px;
  outline: 0;
}

.oneItem {
  display: flex;
  align-items: start;
  justify-content: space-evenly;
  border: 1px solid #d3d3d3;
}

.oneItem button {
  line-height: 12px;
}

.amount {
  margin: 0 0.3rem;
  font-size: 1.3rem;
}

.total {
  text-align: right;
  padding: 0.5rem 1rem;
  display: flex;
  font-size: 1.1rem;
  border-top: 1px solid #000;
}

.total span:last-child {
  font-weight: bold;
  margin-left: auto;
  font-size: 1.1rem;
}
