.container {
  margin: 90px 0;
}

.hdr {
  margin: 20px 0;
  color: #555;
  font-size: 1.6rem;
}

.link {
  margin-top: 20px;
  display: inline-block;
  color: #ffcf00;
  background-color: #000;
  padding: 15px;
}
