.container {
  padding: 15px;
}

.productCont {
  display: flex;
  margin-top: 50px;
}

.productImg {
  flex: 0 0 30%;
  text-align: right;
  margin-right: 80px;
  position: relative;
}

.productMeta {
  position: relative;
  margin-right: 40px;
}

.brand {
  font-size: 4rem;
  line-height: 4rem;
  margin-bottom: 20px;
}

.shortName {
  font-size: 2rem;
  line-height: 2rem;
  margin-bottom: 20px;
}

.productBlurb {
  margin-bottom: 20px;
}

.listInfo {
  display: flex;
  flex-wrap: wrap;
}

.listInfo li {
  flex: 0 0 45%;
}

.listInfo span:first-child {
  margin-right: auto;
}

.similar {
  margin-top: 50px;
}

.reviews {
  margin-top: 40px;
}

.reviews h2 {
  margin-bottom: 20px;
}

.source {
  margin-top: 20px;
  color: #555;
}

@media screen and (max-width: 900px) {
  .productCont {
    flex-direction: column;
    text-align: center;
    margin-top: 25px;
  }

  .productMeta {
    margin-right: 0;
  }

  .productImg {
    text-align: center;
    margin: 0 0 20px;
  }

  .brand {
    font-size: 3rem;
    line-height: 3rem;
  }

  .cartTableCont {
    position: static;
    margin: 40px auto 0;
  }

  .info ul {
    display: block;
  }

  .count {
    font-size: 1.4rem;
    display: inline-block;
    margin: 0 10px;
  }
}
