.container {
  padding: 1rem;
}

.breadCrumb {
  text-align: left;
}

.productCont {
  display: flex;
}

.productImg {
  flex: 0 0 50%;
  text-align: right;
  margin-right: 80px;
}

.productMeta {
  position: relative;
}

.cartTable {
  position: absolute;
  bottom: 0;
}

.brand {
  font-size: 4rem;
}

.shortName {
  font-size: 2rem;
  margin-bottom: 50px;
}

.chevronCont {
  margin: 0 3px;
}

.chevron:after {
  content: "\203A";
  font-size: 24px;
  font-weight: bold;
  color: #555;
}

.listInfo {
  display: flex;
  flex-wrap: wrap;
}

.listInfo li {
  flex: 0 0 45%;
}

.listInfo span:first-child {
  margin-right: auto;
}

.cartTable {
  width: 100%;
  padding: 10px;
  background: #f3f3f3;
  text-align: center;
}

.count {
  font-size: 2rem;
  display: inline-block;
  margin: 0 15px;
}

.totalPrice {
  font-size: 2.5rem;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  /* .container {
    padding: 1rem;
    text-align: center;
  }

  .priceCont {
    flex-direction: column;
    align-items: center;
  }

  .infoCont {
    flex-direction: column;
  }

  .imgCont {
    margin-right: 0;
  }

  .desc {
    text-align: left;
  } */
}
