.cont {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  max-width: 1400px;
  overflow: hidden;
}

.item {
  min-width: 24%;
  width: 24%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #d3d3d3;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  margin: 6px;
}

/* .item:nth-child(2n) {
  background-color: red;
  color: #fff;
} */
