.carousel {
  display: flex;
  flex-wrap: nowrap;
  max-width: 1400px;
  overflow: hidden;
  justify-content: start;
  position: relative;
}

.itemInner {
  border: 1px solid #d3d3d3;
}

.carouselPaging {
  text-align: center;
}

.carouselPaging input[type="radio"] {
  height: 18px;
  width: 18px;
  cursor: pointer;
}

.carouselPaging label {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.arrow {
  position: absolute;
  z-index: 1;
  top: 48%;
  cursor: pointer;
}

.arrowLeft {
  left: 15px;
}

.arrowRight {
  right: 15px;
}

@media screen and (max-width: 500px) {
  .carouselPaging input[type="radio"] {
    height: 16px;
    width: 16px;
  }
}
