.container {
  font-size: 1.1rem;
}

.container > * {
  margin: 0 5px;
}

.pageCurrent {
  border: 1px solid #555;
  padding: 10px;
}

.pageNumCont {
  margin: 0 20px;
}

.pageNumCont input {
  /*  size: 4; */
}

.pageNumCont {
}
