.default {
  height: 200px;
}

/* TODO: check just setting by height?? */
.campaignMini {
  height: 150px;
}

.iconWhite {
  height: 1rem;
  width: 1rem;
  background-color: #fff;
  color: red; /* TODO:  */
}

.home,
.category {
  width: 13rem;
  height: 13rem;
}

.product {
  width: 19rem;
  height: 19rem;
}

.logo {
  width: 5rem;
  height: 5rem;
}

.cart {
  width: 2rem;
  height: 2rem;
}

.scroll {
  width: 2rem;
  height: 2rem;
}

.iBlock {
  display: inline-block;
}

.packaging {
  height: 3rem;
  width: 1.5rem;
}

.cartOpen {
  height: 5rem;
}

.cartOpenBtn {
  width: 30px;
}

.tenFor100 {
  width: 100%;
}

.tenFor100sml {
  display: none;
}

.acBottle {
  width: 20px;
}

.acCask {
  width: 35px;
}

@media screen and (max-width: 900px) {
  .logo {
    width: 60px;
    height: 60px;
  }

  .productMain {
    height: 390px;
  }
}

@media screen and (max-width: 500px) {
  .product {
    width: 14rem;
    height: 14rem;
  }

  .productMain {
    height: 290px;
  }

  .tenFor100 {
    display: none;
  }

  .tenFor100sml {
    display: block;
    width: 100%;
  }
}
